<h4 class="center">ユーザー登録</h4>

<div class="row">
  <%= form_with(model: @user, class: "col s8 push-s2 m6 push-m3 grey lighten-4") do |f| %>
    <div class="row">
      <div class="input-field col s10 push-s1 top-input">
        <%= f.text_field :username, class: "validate" %>
        <%= f.label :username, "Username(3~25文字)" %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s10 push-s1">
        <%= f.email_field :email, class: "validate" %>
        <%= f.label :email, "Email(~100文字)" %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s10 push-s1">
        <%= f.password_field :password, class: "validate" %>
        <%= f.label :password %>
      </div>
    </div>
    <div class="center form-button">
      <%= button_tag type: "submit", class: "btn waves-effect waves-light" do %>
        登録<i class="material-icons left">person</i>
      <% end %>
    </div>
  <% end %>
</div>
