<header>
  <div id="nav-admin-button">
    <%# ログイン状態かつ管理者の場合 %>
    <% if @current_user && @current_user.admin %>
      <%= link_to new_article_path, data: {"turbolinks"=>false},class: "waves-effect waves-light btn-small" do %>
        <i class="material-icons left">person</i>ニュース追加
      <% end %>
    <% end %>
  </div>
  <div id="nav-button">
    <%# ログイン・ログアウトボタン %>
    <% if @current_user %>
      <p>ログイン中：<strong id="login_user"><%= @current_user.username %></strong></p>
      <%= link_to logout_path, class: "waves-effect waves-light btn-small", data: {turbo_method: :delete} do %>
        ログアウト
      <% end %>
    <% else %>
      <%= link_to login_path, class: "waves-effect waves-light btn-small" do %>
        <i class="material-icons left">person</i>ログイン
      <% end %>
    <% end %>
    <br>
  </div>
  <nav>
    <div class="nav-wrapper" id="nav-first">
      <%= link_to "Dialogue", root_path, class: "brand-logo center", id:"nav-title" %>    
    </div>
    
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="row margin-0">
        <% @categories.each do |category| %>
          <li class="col s2 push-s1 center-align">
            <%= link_to category, class:"circle topic-icon" do %>
              <%= image_tag "/#{category.name}.png", size: "60", class: "white circle ", alt: category.name %>
            <% end %>
            <div class="topic-title <%= " sports" if category.name == "スポーツ" %>"><%= link_to category.name, category %></div>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>

<hr id="nav-hr">
